.home__container{
  width: 100%;
  background-color: black;
  color:  white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 2rem;
 
}

.home__info{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 570px;
 gap: 1rem;
}

.home__info-header{
  font-size: 60px;
  font-weight: 800;
  line-height: 75px;
 
}

.home__info-subheader{
  color: rgb(107, 106, 102);
  max-width: 460px;
  font-size: 16px;
  line-height: 24px;
}

.home__info-input{

  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
 background-color: rgb(113, 114, 114);
 border-radius: 30px;
 
}

.home__info-input-icon{
 font-size: 30px;
 color: #E3B748;
}

.home__info-input input{
  outline: none;
  border: none;
  width: max-content;
  height: 20px;
  background-color:  rgb(113, 114, 114);
  color: white;
}

.home__info-input button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0.5rem 1rem;
  border-radius: 20px;
  background: #E3B748;
 border: none;
}

::placeholder{
  color: white;
}

.home__img{
  width: 467px;
  height: 100%;

}

.home__img img{
 width: 100%;
 height: 100%;
}


@media screen  and (max-width:900px){

  .home__container{
    box-sizing: border-box;
  }
  .home__container{
   flex-direction: column;
  align-items: center;
  }
  .home__info{
     margin: 2rem 0 2rem 2rem ;
  }

  
}

@media screen and (max-width:500px) {
  .home__img{
   width: 70%;
   margin-bottom: 2rem;
  }
}

@media screen and (max-width:300px) {
 .home__info{
  width: 80%;
 }

 .home__info-header{
  font-size: 30px;
  line-height: 40px;
 }

.home__info-input{
  display: none;
}

}

