.wrapper{
  display: flex;
  margin-top: 10px;
  width: 30px !important;
  height: 30px;
 margin-left: 50px;
}

.logo{
  width: 30px;
  height: 30px;
 overflow: hidden;
}

.title{
  color: var(--color-white);
  font-size: 25px;
  font-weight: bolder; 

}