.card__container{
  max-width: 360px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1rem;
  margin: 0 1rem;
}

.card__container p {
  color: rgb(113, 110, 110);
}

.card__container button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: #E3B748;
  border: none;
}